<div class="sidebar">
  <a href="#">Home</a>
  <a href="#">Projects</a>
</div>

<div class="content">
  <h1>Project #1 <fa-icon [icon]="faCoffee"></fa-icon></h1>
  <div class="container"
       cdkDropListGroup>

    <div class="column"
         cdkDropList
         [cdkDropListData]="pendingList"
         (cdkDropListDropped)="drop($event)">
      <h2>Pending</h2>
      <div *ngFor="let task of pendingList" 
           class="card"
           id="pending"
           cdkDrag>
        <p>{{task}}</p>
      </div>

      <!-- <button (click)="addTask(newPendingTask.value, 'todo'); newPendingTask.value=''">Add task</button>
      <br>
      <input type="text" #newPendingTask placeholder="Enter task name..."> -->
    </div>

    <div class="column" 
         cdkDropList
         [cdkDropListData]="inProgressList"
         (cdkDropListDropped)="drop($event)">
      <h2>In Progress</h2>
      <div *ngFor="let task of inProgressList" 
           class="card"
           id="inProgress"
           cdkDrag>
        <p>{{task}}</p>
      </div>

      <!-- <button (click)="addTask(newInProgressTask.value, 'doing'); newInProgressTask.value=''">Add task</button>
      <br>
      <input type="text" #newInProgressTask placeholder="Enter task name..."> -->
    </div>

    <div class="column"
         cdkDropList
         [cdkDropListData]="completedList"
         (cdkDropListDropped)="drop($event)">
      <h2>Completed</h2>
      <div *ngFor="let task of completedList" 
           class="card"
           id="completed"
           cdkDrag>
        <p>{{task}}</p>
      </div>
      
      <!-- <button (click)="addTask(newCompletedTask.value, 'completed'); newCompletedTask.value=''">Add task</button>
      <br>
      <input type="text" #newCompletedTask placeholder="Enter task name..."> -->
    </div>

  </div>
</div>