<div class="sidebar">
  <a href="#">Home</a>
  <a href="#">Projects</a>
</div>

<div class="content">
  <h1>Project #1</h1>
  <div class="container"
       cdkDropListGroup>

    <div class="column" 
         cdkDropList
         [cdkDropListData]="todoList"
         (cdkDropListDropped)="drop($event)">
      <h2>To Do</h2>
      <div *ngFor="let task of todoList" 
           class="card"
           cdkDrag>
        <p>{{task}}</p>
      </div>

      <button (click)="addTask(newToDoTask.value, 'todo'); newToDoTask.value=''">Add task</button>
      <br>
      <input type="text" #newToDoTask placeholder="Enter task name...">
    </div>

    <div class="column" 
         cdkDropList
         [cdkDropListData]="inProgressList"
         (cdkDropListDropped)="drop($event)">
      <h2>In Progress</h2>
      <div *ngFor="let task of inProgressList" 
           class="card"
           cdkDrag>
        <p>{{task}}</p>
      </div>
      <button (click)="addTask(newInProgressTask.value, 'doing'); newInProgressTask.value=''">Add task</button>
      <br>
      <input type="text" #newInProgressTask placeholder="Enter task name...">
    </div>

    <div class="column" 
         cdkDropList
         [cdkDropListData]="doneList"
         (cdkDropListDropped)="drop($event)">
      <h2>Done</h2>
      <div *ngFor="let task of doneList" 
           class="card"
           cdkDrag>
        <p>{{task}}</p>
      </div>
      <button (click)="addTask(newDoneTask.value, 'done'); newDoneTask.value=''">Add task</button>
      <br>
      <input type="text" #newDoneTask placeholder="Enter task name...">
    </div>

  </div>
</div>