<div class="sidebar">
  <a href="">Home</a>
  <a href="Boards">Project #1</a>
</div>

<div class="content">
  <h1>Project #1 <fa-icon [icon]="faCoffee"></fa-icon></h1>
  <div class="container"
       cdkDropListGroup>

    <div class="column"
         cdkDropList
         [cdkDropListData]="pendingList"
         (cdkDropListDropped)="drop($event)">
      <h2>Pending</h2>

      <div *ngIf="!addPendingClicked"
           class="card"
           id="plus"
           (click)="addClicked('pending')">
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
      <input *ngIf="addPendingClicked" type="text" #newPendingTask (keyup.enter)="addTask(newPendingTask.value, 'pending'); newPendingTask.value=''" placeholder="Enter task name...">

      <div *ngFor="let task of pendingList; let i = index"
           class="card pending"
           cdkDrag
           (mouseenter)="task.IsHovered = true" (mouseleave)="task.IsHovered = false">
          <div style="padding: 15px;"><ng-container *ngIf="!task.IsEditClicked">{{task.Name}}</ng-container>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; padding-left: 20px; color: #d3d3d3;" (click)="deleteTask(task, 'pending')" [icon]="faTrash"></fa-icon>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; color: #d3d3d3;" (click)="task.IsEditClicked=true" [icon]="faEdit"></fa-icon> 

            <input *ngIf="task.IsEditClicked" type="text" #editedTask (keyup.enter)="editTask(editedTask.value, i, 'pending'); editedTask.value=''" value="{{task.Name}}" placeholder="Enter task name...">
          </div>
      </div>
    </div>

    <div class="column" 
         cdkDropList
         [cdkDropListData]="inProgressList"
         (cdkDropListDropped)="drop($event)">
      <h2>In Progress</h2>

      <div *ngIf="!addInProgressClicked"
           class="card"
           id="plus"
           (click)="addClicked('inProgress')">
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
      <input *ngIf="addInProgressClicked" type="text" #newInProgressTask (keyup.enter)="addTask(newInProgressTask.value, 'inProgress'); newInProgressTask.value=''" placeholder="Enter task name...">

      <div *ngFor="let task of inProgressList; let i = index" 
           class="card inProgress"
           cdkDrag
           (mouseenter)="task.IsHovered = true" (mouseleave)="task.IsHovered = false">
          <div style="padding: 15px;"><ng-container *ngIf="!task.IsEditClicked">{{task.Name}}</ng-container>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; padding-left: 20px; color: #d3d3d3;" (click)="deleteTask(task, 'inProgress')" [icon]="faTrash"></fa-icon>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; color: #d3d3d3;" (click)="task.IsEditClicked=true" [icon]="faEdit"></fa-icon> 

            <input *ngIf="task.IsEditClicked" type="text" #editedTask (keyup.enter)="editTask(editedTask.value, i, 'inProgress'); editedTask.value=''" value="{{task.Name}}" placeholder="Enter task name...">
          </div>
      </div>
    </div>

    <div class="column"
         cdkDropList
         [cdkDropListData]="completedList"
         (cdkDropListDropped)="drop($event)">
      <h2>Completed</h2>

      <div *ngIf="!addCompletedClicked"
           class="card"
           id="plus"
           (click)="addClicked('completed')">
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
      <input *ngIf="addCompletedClicked" type="text" #newCompletedTask (keyup.enter)="addTask(newCompletedTask.value, 'completed'); newCompletedTask.value=''" placeholder="Enter task name...">

      <div *ngFor="let task of completedList; let i = index" 
           class="card completed"
           cdkDrag
           (mouseenter)="task.IsHovered = true" (mouseleave)="task.IsHovered = false"g>
          <div style="padding: 15px;"><ng-container *ngIf="!task.IsEditClicked">{{task.Name}}</ng-container>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; padding-left: 20px; color: #d3d3d3;" (click)="deleteTask(task, 'completed')" [icon]="faTrash"></fa-icon>
            <fa-icon *ngIf="task.IsHovered && !task.IsEditClicked" style="float:right; color: #d3d3d3;" (click)="task.IsEditClicked=true" [icon]="faEdit"></fa-icon> 

            <input *ngIf="task.IsEditClicked" type="text" #editedTask (keyup.enter)="editTask(editedTask.value, i, 'completed'); editedTask.value=''" value="{{task.Name}}" placeholder="Enter task name...">
          </div>
      </div>
    </div>

  </div>
</div>